*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

/*main css*/
body{
	background-color: #f3f5f9;
}
.wrapper{
	display: flex;
	position: relative;
}
.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #4b4276;

}
.wrapper .sidebar h2{
	font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 25px 20px;
}
.sidebar ul{
	list-style-type: none;
}
.sidebar ul li{
	padding: 15px;
	border-bottom:1px solid rgba(0,0,0,0.05);
	border-top:1px solid rgba(255,255,255,0.05);
}
.sidebar ul li a{
	color: #fff;
	display: block;
}
.sidebar ul li a:hover{
	color:#ddd;
}
.main-content{
	margin-left: 200px;
	width: 100%;
}
.main-content .header{
	color: #ddd;
	padding: 25px 20px;
	border-bottom:1px solid rgba(0,0,0,0.05);
}
.main-content .content{
	padding:15px;
	margin-top: 10px;
}
